<!-- this is is a wrapper for body -->
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0"> 
    <script src="https://kit.fontawesome.com/3505eac404.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/layout.css" type="text/css">
    <%- style %>

</head>

<body>
    <!-- attaching partials -->
    <%- include('_header'); %>


        <!-- including variables part in layout -->

        <%- body %>


            <%- include( '_footer'); %>


                <%- script %>
</body>

</html>